
  
  
/* initialise the counter */
body { 
  counter-reset: figureCounter;
  counter-reset: tableCounter;
  font-family: 'Arial', sans-serif; 
  }

  .md-typeset .admonition,
  .md-typeset details {
    border-width: 0;
    border-left-width: 4px;
    font-size:medium;
  }
